.card h2{position:absolute; bottom:20px; left:10px; background:#0006; padding:10px 30px; color:#fff;  font-size:18px; }

.card  h6{color: #46e06d;}
.img-placeholder{position:relative;}
.card-title {   
    color: #ee4575;
}
.card{margin-bottom:20px;}
.price{position:absolute; right:20px; top:20px; display:none; z-index:10; text-align:center;}
.colomn{position:relative}
.colomn:hover .price{display:block;}