<div class="row">

	<div class="col-md-6 colomn" *ngFor="let item of listing">
		<div class="card">
			<div class="img-placeholder">
				<img src="{{item.image}}" class="card-img-top" alt="image">
				<h2>{{item.titleImage}}</h2>
			</div>		  
			<div class="card-body">
				<h5 class="card-title">{{item.title}}</h5>
				<h6> {{item.weight}}</h6>
				<p class="card-text">{{item.des}}</p>
			</div>
		</div>
		<div class="price">
			<button type="button" class="btn btn-success">Buy Now</button>
			<br>
			<span>
			$750/ ton
			</span>
		</div>
	</div>
</div>
