<div class="row header">
	
	<div class="col-md-3 text-center">
		<img src="assets/projects.png" alt="logo" title="logo" class="logo">
	</div>
	<div class="col-md-9 text-center ">
		<h1>Our environmental projects are providing <br> many environmental benifits around the world.</h1>
	</div>

</div>
