.header{ padding-top:15px; margin-bottom:20px; padding-left:15px; padding-right:15px; } 
.header > div{background:#b9faac; }

.logo{max-width: 180px;}
.header h1{font-size:1.9em; color:#5c5c5c; padding-top:40px;} 